ion-list-header {
  background-color: #ececec;
}

.icon-col {
  display: flex;
  justify-content: center;
}

.icon-container {
  display: flex;
  align-items: center;
}

ion-icon {
  font-size: 1.5rem;
  margin-right: 4px;
}

.icon-label {
  font-size: 0.9rem;
  margin-bottom: 0;
}


