.restaurant-card {
  height: 100%;
}

.restaurant-image {
  height: 150px;
  object-fit: cover;
}

.centered-button-container {
  display: flex;
  justify-content: center;
  margin-top: 2px;
}

.text-large {
  font-size: 20px;
}

.phone-row {
  background-color: #0ec254;
  border-radius: 10px;
}

.card-header {
  display: flex;
  align-items: center;
}

.header-content {
  flex-grow: 1;
}

.card-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rounded-image {
  border-radius: 10px;
}

.restaurant-card {
  margin-top: 1px;
  margin-bottom: 1px;
}

