.restaurant-card {
  height: 100%;
}

.restaurant-image {
  height: 150px;
  object-fit: cover;
}

.centered-button-container {
  display: flex;
  justify-content: center;
  margin-top: 2px;
}

.text-large {
  font-size: 20px;
}

.phone-row {
  background-color: #0ec254;
  border-radius: 10px;
}
