<ion-header>
    <ion-toolbar>
        <ion-title>SmartCook</ion-title>
        <script src="cordova.js"></script>
        <ion-buttons slot="end">
            <ion-button (click)="addIngredientsWithPicture()" color="success">
                <ion-icon name="camera-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-list>
    <div class="favorite-header">
        <ion-list>
            <ion-list-header class="favorite-header-title">My fridge ingredients</ion-list-header>
            <ion-list class="ion-align-items-center" style="margin-top: 3px">Search, fill and see what is in your fridge</ion-list>
        </ion-list>
    </div>
</ion-list>

<ion-content>
    <!-- Search results -->
    <ion-searchbar [placeholder]="'Search for ingredients...'" [(ngModel)]="searchQuery"
                   (ionChange)="selectIngredients()"></ion-searchbar>
    <ion-grid *ngIf="searchResults && searchResults.length > 0">
        <ion-row>
            <ion-col size="6" *ngFor="let result of searchResults">
                <ion-card class="ingredient-card">
                    <ion-card-header>
                        <ion-card-title><strong>{{ result.name.toUpperCase() }}</strong></ion-card-title>
                    </ion-card-header>
                    <ion-card-content class="ingredient-content">
                        <ion-img class="ingredient-image"
                                 [src]="'https://spoonacular.com/cdn/ingredients_100x100/' + result.image"
                                 alt="No picture found for this ingredient"></ion-img>
                    </ion-card-content>
                    <ion-button class="add-button" color="primary"
                                (click)="addIngredient(result.id, result.name, result.image)">
                        <ion-icon name="add-circle"></ion-icon>
                    </ion-button>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid *ngIf="ingredients && ingredients.length > 0; else emptyFridge">
        <ion-row>
            <ion-col size="6" *ngFor="let ingredient of ingredients">
                <ion-card class="ingredient-card">
                    <ion-card-header>
                        <ion-card-title><strong>{{ ingredient.name.toUpperCase() }}</strong></ion-card-title>
                    </ion-card-header>
                    <ion-card-content class="ingredient-content">
                        <ion-img class="ingredient-image"
                                 [src]=ingredient.image
                                 alt="No picture found for this ingredient"></ion-img>
                    </ion-card-content>
                    <ion-grid>
                        <ion-row>
                            <ion-col size="6" class="icon-col">
                                <div class="icon-container">
                                    <ion-button class="add-button" color="secondary" (click)="saveToShoppingList(ingredient)">
                                        <ion-icon name="cart"></ion-icon>
                                    </ion-button>
                                </div>
                            </ion-col>
                            <ion-col size="6" class="icon-col">
                                <div class="icon-container">
                                    <ion-button class="add-button" color="danger" (click)="deleteIngredient(ingredient.id)">
                                        <ion-icon name="trash"></ion-icon>
                                    </ion-button>
                                </div>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ng-template #emptyFridge>
        <div class="empty-fridge" style="margin-bottom: 150px">
            <p class="text">Your fridge is empty</p>
        </div>
    </ng-template>
</ion-content>
