<ion-header>
  <ion-toolbar>
    <ion-title>SmartCook2</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="'/favorites'">
        <ion-icon color="warning" name="star-half-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-list>
  <div class="favorite-header">
    <ion-list>
      <ion-list-header class="favorite-header-title">My 10 recipes of the day</ion-list-header>
    </ion-list>
  </div>
  <div class="refresh-button-container">
    <ion-button color="light" fill="clear" (click)="refreshRandomRecipes()" class="refresh-button">
      <ion-icon name="refresh"></ion-icon>
      See 10 others recipes
    </ion-button>
  </div>
</ion-list>

<ion-content>
  <ion-slides #slides>
    <ion-slide *ngFor="let recipe of randomRecipes">
      <ion-card>
        <img [src]="recipe.image" alt="No image found for this recipe" />
        <ion-card-header>
          <ion-card-title>{{ recipe.title }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p [innerHTML]="(recipe.summary | slice:0:700) + '...'">{{ recipe.summary | slice:0:150 }}...</p>
          <ion-grid>
            <ion-row>
              <ion-col size="4" class="icon-col">
                <div class="icon-container">
                  <ion-icon name="heart-sharp" color="danger"></ion-icon>
                  <p class="icon-label">{{ recipe.aggregateLikes }}</p>
                </div>
              </ion-col>
              <ion-col size="4" class="icon-col">
                <div class="icon-container">
                  <ion-icon name="people-outline" color="primary"></ion-icon>
                  <p class="icon-label">{{ recipe.servings }}</p>
                </div>
              </ion-col>
              <ion-col size="4" class="icon-col">
                <div class="icon-container">
                  <ion-icon name="time-sharp" color="medium"></ion-icon>
                  <p class="icon-label">{{ recipe.readyInMinutes }}</p>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
          <ion-grid>
            <ion-row>
              <ion-col size="6" class="icon-col">
                <div class="icon-container">
                  <ion-button color="success" [routerLink]="'/detail/' + recipe.id">
                    <ion-icon name="eye"></ion-icon>
                  </ion-button>
                </div>
              </ion-col>
              <ion-col size="6" class="icon-col">
                <div class="icon-container">
                  <ion-button color="warning" [disabled]="isFavorite(recipe)" (click)="toggleFavorite(recipe)">
                    <ion-icon name="star"></ion-icon>
                  </ion-button>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>
