<ion-header>
  <ion-toolbar>
    <ion-title>
      SmartCook
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-list>
  <div class="favorite-header">
    <ion-list>
      <ion-list-header class="favorite-header-title" style="margin-left: 50px">Your shopping list</ion-list-header>
      <ion-list class="ion-align-items-center" style="margin-top: 3px">Note what you need for your next shopping trip</ion-list>
    </ion-list>
  </div>
</ion-list>
<ion-item>
  <ion-input placeholder="Name" [(ngModel)]="newItemName"></ion-input>
  <ion-input placeholder="Quantity" [(ngModel)]="newItemQuantity" type="number"></ion-input>
  <ion-button (click)="addNewItem(newItemName, newItemQuantity)">
    <ion-icon name="add-outline"></ion-icon>
  </ion-button>
</ion-item>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of shoppingList">
      <ion-label [class.checked]="item.isChecked">
        {{item.name}} ({{item.quantity}})
      </ion-label>
      <ion-buttons slot="end">
        <ion-button (click)="deleteItem(item.id)">
          <ion-icon name="close-outline" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>
</ion-content>
